#dati {
    margin-left: auto;
    margin-right: auto;
    width:70%;
    display: block;
    text-align: center;
    background-color: white;
    border: 3px solid cornflowerblue;
}
p {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
}
button {
    align-content: end;
    color: white;
    background-color: cornflowerblue;
}
body {
    background-color: lightgray;
}