#titoloPrenotazioni {
    width: 100%;
    font-size: x-large;
    color: white;
    text-align: center;
    background-color: cornflowerblue;
    padding: 1%;
    margin-bottom: 0;
    margin-top: 0;
}
#links {
    width: 100%;
    font-size: medium;
    background-color: white;
    color: cornflowerblue;
    padding: 1%;
    margin-top: 0;
}
.prenotazione {
    width: 80%;
    margin: 2% auto;
    border: 2px solid cornflowerblue;
    background-color: white;

}
.prenotazione.td {
    width: 30%
}
p{
    margin-right: 2px;
    margin-top: 2px;
}
button {
    color: white;
    background-color: cornflowerblue;
}
body {
    background-color: lightgray;
}
